<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title></title>{% endblock title %}

    <!-- Favicons -->
    <link rel="icon" href="{% static 'Assets/Qashar/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'Assets/Qashar/img/apple-touch-icon.png' %}">


    <!-- Vendor CSS Files -->
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/vendor/fontawesome-free/css/all.min.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/vendor/aos/aos.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/vendor/glightbox/css/glightbox.min.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/vendor/swiper/swiper-bundle.min.css' %}">

    <!-- Template Main CSS File -->
    <link  rel="stylesheet" type="text/css" href="{% static 'Assets/Qashar/css/main.css' %}">

</head>


<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/Home" class="logo d-flex align-items-center">
            <h1>Quality_<span>Matter's</span>
            </h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Products">Products</a></li></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/blog" target="_blank">Blog</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="header-nav-request ml-5">
            <a href="/cartDetail"><i class="fa fa-shopping-cart h5" aria-hidden="true">
                <sup>{{request.session.cart|length}}</sup>
            </i></a>
        </div>



        <div>
            {% if user.is_authenticated  %}


                <button class="btn btn-outline-light"><i class="fa fa-user"></i> {{ user.username }}</button>
                <a href="/user_logout" class="btn btn-outline-light"><i class="fa fa-power-off"></i></a>
            {% else %}
               <a href="/user_login" class="btn btn-outline-light"><i class="fa fa-sign-in"></i> Sign in</a>
            {% endif %}

        </div>

    </div>

</header><!-- End Header -->



{% block content %} {% endblock content %}




<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Q__Store</h3>
                        <p>
                            Kunri Mirpur Khas Sindh <br>
                            NORTH 69160, PK<br><br>
                            <strong>Phone:</strong> +92 333 3300 721<br>
                            <strong>Email:</strong> info@qashar.store<br>
                        </p>
                        <div class="social-links d-flex mt-3">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div><!-- End footer info column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Products</h4>
                    <ul>
                        <li><a href="#">Imported Cosmetics</a></li>
                        <li><a href="#">Pakistani Wears</a></li>
                        <li><a href="#">Notheren Wears</a></li>
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Shorts</a></li>
                    </ul>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Services in Kunri</h4>
                    <ul>
                        <li><a href="#">Electrician</a></li>
                        <li><a href="#">Plumber</a></li>
                        <li><a href="#">Sewing</a></li>
                        <li><a href="#">Driver</a></li>
                    </ul>
                </div><!-- End footer links column-->


            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Q__Store</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Supported by <a href="https://dronza.org/">Dronza.Org</a>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'Assets/Qashar/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Assets/Qashar/vendor/aos/aos.js' %}"></script>
<script src="{% static 'Assets/Qashar/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'Assets/Qashar/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'Assets/Qashar/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'Assets/Qashar/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'Assets/Qashar/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'Assets/Qashar/js/main.js' %}"></script>

</body>

</html>