{% extends 'baseAdmin.html' %}

{% load static %}

    {% block title %} <title>Update | Amazon product</title> {% endblock title %}

{% block header %}

     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-greeno">Update Amazon Product</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin" class="text-greeno">Dashboard</a></li>
              <li class="breadcrumb-item text-aspire"><a href="/adminAmazonProducts" class="text-greeno">Amazon Product</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


{% endblock header %}






{% block content %}

<div class="container-fluid">
<div class="row mt-5 mb-5 card container">



   <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">

            <div class="row mb-3">
                <div class="col-6">
                    <label>Title</label>
                        {{ form.title }}
                </div>
                  <div class="col-2">
                    <label>C Price</label>
                        {{ form.cPrice }}
                </div>
                <div class="col-2">
                    <label>D Price</label>
                        {{ form.dPrice }}
                </div>
                 <div class="col-2">
                    <label>Category</label>
                        {{ form.category }}
                </div>
            </div>

                <div class="row mb-3">
                       <div class="col-3">
                    <label>Brand</label>
                        {{ form.brand }}
                </div>
               <div class="col-3">
                    <label>Color</label>
                        {{ form.color }}
                </div>
                    <div class="col-3">
                    <label>Availability</label>
                        {{ form.availability }}
                </div>
                     <div class="col-3">
                    <label>Featured</label>
                        {{ form.featured }}
                </div>

            </div>



          <div class="row mb-4">
               <div class="col-3">
                    <label>Label</label>
                        {{ form.heading1 }}
                </div>
               <div class="col-3">
                    <label>Description</label>
                        {{ form.answer1 }}
                </div>
              <div class="col-3">
                    <label>Label</label>
                        {{ form.heading2 }}
                </div>
               <div class="col-3">
                    <label>Description</label>
                        {{ form.answer2 }}
                </div>
          </div>


           <div class="row mb-4">
               <div class="col-3">
                    <label>Label</label>
                        {{ form.heading3 }}
                </div>
               <div class="col-3">
                    <label>Description</label>
                        {{ form.answer3 }}
                </div>
              <div class="col-3">
                    <label>Label</label>
                        {{ form.heading4 }}
                </div>
               <div class="col-3">
                    <label>Description</label>
                        {{ form.answer4 }}
                </div>
          </div>




          <div class="row mb-4">
                <div class="col-12">
                    <label>Amazon Buy Link</label>
                        {{ form.buyLink }}
                </div>
            </div>

              <div class="row mb-4">
                <div class="col-12">
                    <label>Description</label>
                    {{ form.description }}
                </div>
            </div>

          <div class="row mb-3">
              <div class="col-4">
                  <label>Main Icon</label>
                  {{ form.mainIcon }}
              </div>
               <div class="col-4">
                  <label>Update Date</label>
                  {{ form.created_at }}
              </div>



          </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-greeno white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn bg-greeno white">Save Post</button>
      </div>
             </form>
       </div>

</div>


{% endblock content %}