{% extends 'baseAdmin.html' %}


{% load static %}

    {% block title %} <title>Q__ | Products</title> {% endblock title %}

{% block header %}


     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-greeno">Q__Products Section</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin" class="text-greeno">Dashboard</a></li>
              <li class="breadcrumb-item text-aspire">Q__Products</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


{% endblock header %}





{% block content %}

<div class="container-fluid mt-5">

<div class="row container-fluid justify-content-end">
        <button class="btn bg-greeno white" data-toggle="modal" data-target="#exampleModalCenter">+ Add Product</button>
</div>

    <table class="table table-hover table-bordered mt-5">
  <thead class="bg-greeno white">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col" class="text-center">Operations</th>
    </tr>
  </thead>
  <tbody>
  {% for data in PRDTDT %}
    <tr>
      <td>{{ data.name }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.category }}</td>
      <td><img src="{{ data.image.url }}" style="height: 80px; width: 80px;"></td>
     <td class="text-center">
          <a class="text-center mx-2" href="/Update/{{ data.id }}/Q_Products"><i class="fa fa-edit fa-lg" style="color: green;"></i> </a>
          <a class="text-center mx-2" href="/Delete/{{ data.id }}/Q_Products"><i class="fa fa-trash fa-lg" style="color: red;"></i> </a>
      </td>
        </tr>
  {% endfor %}
  </tbody>

</table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-greeno">
        <h5 class="modal-title white" id="exampleModalLongTitle">Q__Products </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">

            <div class="row mb-3">

                <div class="col-12">
                    <label>Title</label>
                        {{ form.name }}
                </div>

            </div>


          <div class="row mb-3">
               <div class="col-3">
                    <label>C Price</label>
                        {{ form.cPrice }}
                </div>
                <div class="col-3">
                    <label>D Price</label>
                        {{ form.price }}
                </div>
               <div class="col-3">
                    <label>Brand</label>
                        {{ form.brand }}
                </div>
            <div class="col-3">
                    <label>Color</label>
                        {{ form.color }}
                </div>

          </div>

                <div class="row mb-4">

                <div class="col-4">
                    <label>Availability</label>
                        {{ form.availability }}
                </div>

               <div class="col-4">
                    <label>Category</label>
                        {{ form.category }}
                </div>
                    <div class="col-4">
                    <label>Featured</label>
                        {{ form.featured }}
                </div>


            </div>


            <div class="row mb-4">

                <div class="col-3">
                    <label>Label</label>
                        {{ form.label1 }}
                </div>
                <div class="col-3">
                    <label>Input</label>
                        {{ form.input1 }}
                </div>
                <div class="col-3">
                    <label>Label</label>
                        {{ form.label2 }}
                </div>
                <div class="col-3">
                    <label>Input</label>
                        {{ form.input2 }}
                </div>

            </div>


           <div class="row mb-4">

                <div class="col-3">
                    <label>Label</label>
                        {{ form.label3 }}
                </div>
                <div class="col-3">
                    <label>Input</label>
                        {{ form.input3 }}
                </div>
                <div class="col-3">
                    <label>Label</label>
                        {{ form.label4 }}
                </div>
                <div class="col-3">
                    <label>Input</label>
                        {{ form.input4 }}
                </div>

            </div>


           <div class="row mb-4">

                <div class="col-3">
                    <label>Label</label>
                        {{ form.label5 }}
                </div>
                <div class="col-3">
                    <label>Input</label>
                        {{ form.input5 }}
                </div>
                <div class="col-3">
                    <label>Label</label>
                        {{ form.label6 }}
                </div>
                <div class="col-3">
                    <label>Input</label>
                        {{ form.input6 }}
                </div>

            </div>


            <div class="row mb-4">
                <div class="col-12">
                    <label>Description</label>
                    {{ form.description }}
                </div>
            </div>

          <div class="row mb-3">
              <div class="col-4">
                  <label>Main Icon</label>
                  {{ form.image }}
              </div>

          </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-greeno white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn bg-greeno white">Save Post</button>
      </div>
             </form>
    </div>
  </div>
</div>




{% endblock content %}